<body>
    <div id="navbar">
      <a class="home" href="/">BlogIt</a>
      <div class="navbar-container">
        <a class="nav start" href="start-a-blog">Start a blog</a>
        <a class="nav profile" href="profile">Profile</a>
      </div>
    </div>
  </body>