<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= post.title %> - BlogIt</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  <div id="navbar">
    <a class="home" href="/">BlogIt</a>
    <div class="navbar-container">
      <a class="nav" href="/start-a-blog">Start a Blog</a>
    </div>
  </div>
  <hr size="1" width="85%" color="#ccc">
  <div class="blog-container">
    <h1 class="blog-title"><%= post.title %></h1>
    <% if (post.date) { %>
      <p class="blog-date"><%= post.date.toLocaleDateString() %></p>
    <% } %>
    <div class="blog-content">
      <%= post.content %>
    </div>
    
    <div class="back-link">
      <a href="/">Back to all posts</a>
    </div>
  </div>
</body>
</html>